<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
    <form action="" method="POST">
        <p>
            <label for="">Name:</label>
            <input type="text" name="name" id="">
        </p>
        <p>
            <label for="">Email:</label>
            <input type="text" name="email" id="">
        </p>
        <p>
            <label for="">Message</label>
            <textarea name="message" required></textarea>
        </p>
        <p><button type = 'submit'>Send Message</button></p>
    </form>
</body>
</html>